<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if site.title-img %}
        <a class="navbar-brand navbar-brand-logo" href="{{ site.url }}"><img src="{{ site.title-img }}"/></a>
      {% else %}
        {% if page.lang == 'en' %}
        <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
	{% else %}
        <a class="navbar-brand" href="{{ site.url }}/es">{{ site.title }}</a>
	{% endif %}
      {% endif %}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {% for item in site.data.navigation.languages %}
        {% if item.language == page.lang %}
          {% for link in item.links %}
            {% if link[1] contains "http" %}
              {% assign url = link[1] %}
            {% else %}
              {% assign url = link[1] | relative_url %}
            {% endif %}

            <!-- a class="page-link" href="{{ url }}">{{ link.title }}</a -->

            {% if link[1].first %}
            <li class="navlinks-container">
              <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
              <div class="navlinks-children">
                {% for childlink in link[1] %}
                  {% for linkparts in childlink %}
                    {% include navbarlink.html link=linkparts %}
                  {% endfor %}
                {% endfor %}
              </div>
            </li>
            {% else %}
              <li>
                {% include navbarlink.html link=link %}
              </li>
            {% endif %}
          
          {% endfor %}
        {% endif %}
      {% endfor %}

      <li>
        {% assign pages=site.pages | where: "ref", page.ref %}
        {% assign n_pages=pages | size %}
        {% if n_pages > 0 %}
          {% for page2 in pages %}
            {% if page2.lang != page.lang %}
              <a href="{{ page2.url }}">{% if page2.lang == 'en' %}English{% else %}Español{% endif %}</a>
              {% break %}
            {% endif %}
          {% endfor %}
        {% else %}
          {% assign posts=site.posts | where: "ref", page.ref %}
          {% for post2 in posts %}
            {% if post2.lang != page.lang %}
              <a href="{{ post2.url }}">{% if post2.lang == 'en' %}English{% else %}Español{% endif %}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </li>

      {% for link in site.navbar-links %}
        {% if link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
            <div class="navlinks-children">
              {% for childlink in link[1] %}
                {% for linkparts in childlink %}
                  {% include navbarlink.html link=linkparts %}
                {% endfor %}
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li>
            {% include navbarlink.html link=link %}
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

	{% if page.image and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ site.url }}">
	      <img class="avatar-img" src="{{ page.image | prepend: site.baseurl | replace: '//', '/' }}" />
		</a>
	  </div>
	</div>
	{% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ site.url }} ">
	      <img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
		</a>
	  </div>
	</div>
	{% endif %}

  </div>
</nav>
