---
layout: page
title: 'Índice de Etiquetas'
ref: tag-index
lang: es
---

{%- capture site_tags -%}
    {%- for tag in site.tags -%}
        {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
{%- endcapture -%}
{%- assign tags_list = site_tags | split:',' | sort -%}

{%- for tag in tags_list -%}
    {% assign counter = 0 %}
    {%- for post in site.tags[tag] -%}
      {% if post.lang == page.lang %}
        {% assign counter=counter | plus:1 %}
      {% endif %}
    {% endfor %}
    <a href="#{{- tag -}}" class="btn btn-primary tag-btn"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{- tag -}}&nbsp;({{ counter }})</a>
{%- endfor -%}

<div id="full-tags-list">

{%- for tag in tags_list -%}
    {% assign counter = 0 %}
    {%- for post in site.tags[tag] -%}
      {% if post.lang == page.lang %}
        {% assign counter=counter | plus:1 %}
      {% endif %}
    {% endfor %}

    <h2 id="{{- tag -}}" class="linked-section">
        <i class="fa fa-tag" aria-hidden="true"></i>
        <!-- &nbsp;{{- tag -}}&nbsp;({{site.tags[tag].size}}) -->
        &nbsp;{{- tag -}}&nbsp;({{ counter }})        
    </h2>
    <div class="post-list">
        {%- for post in site.tags[tag] -%}
          {% if post.lang == page.lang %}
            <div class="tag-entry">
                <a href="{{- site.url -}}{{- post.url -}}">{{- post.title -}}</a>
                <div class="entry-date">
                    <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: "%B %d, %Y" -}}</time>
                </div>
            </div>
          {% endif %}  
        {%- endfor -%}
    </div>
{%- endfor -%}
</div>
